.account{
    margin: 5px;
    padding: 3px;
    float: right;
}

.account-name{
    padding: 3px;
    font-weight: bold;
    font-size: 20px;
}

.container{
    margin-top: 100px;
}

.content{
    color: #4b4b4b;
}

.navigator{
    background-color: gainsboro;
}

.content-inner{
    display: block;
    /*padding: 20px;*/
    width: 80%;
    /*color: white;*/
    font-weight: bold;
    font-size: 15px;
}

.entity{
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    color: #4b4b4b;
    background-color: white;
    border: 1px solid #cccccc;
    transition: all .2s ease-in-out;
}

.entity:hover{
    transform: scale(1.4);
    z-index: 5;
}

.entity-active{
    color: black;
}

a:link, a:visited {
    float: right;
    color: #4b4b4b;
    text-decoration: none;
}

a:hover, a:active {
    float: right;
    color: #4b4b4b;
    text-decoration: none;
}

.table-holder{
    display: block;
    width: 80%;
    padding-top: 20px;
}

.table-header{
    color: white;
}

.center {
    position: relative;
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-holder{
    box-sizing: border-box;
    width: 100%;
    height: 20px;
    margin: 3px 0;
    padding: 3px;
    border: 1px solid #cccccc;
}

.hideform {
    display: none;
}

.nav{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.delete-btn {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f06565), color-stop(1, #e34444));
    background:-moz-linear-gradient(top, #f06565 5%, #e34444 100%);
    background:-webkit-linear-gradient(top, #f06565 5%, #e34444 100%);
    background:-o-linear-gradient(top, #f06565 5%, #e34444 100%);
    background:-ms-linear-gradient(top, #f06565 5%, #e34444 100%);
    background:linear-gradient(to bottom, #f06565 5%, #e34444 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f06565', endColorstr='#e34444',GradientType=0);
    background-color:#f06565;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #e63737;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:13px;
    font-weight:bold;
    padding:6px 18px;
    text-decoration:none;
}
.delete-btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e34444), color-stop(1, #f06565));
    background:-moz-linear-gradient(top, #e34444 5%, #f06565 100%);
    background:-webkit-linear-gradient(top, #e34444 5%, #f06565 100%);
    background:-o-linear-gradient(top, #e34444 5%, #f06565 100%);
    background:-ms-linear-gradient(top, #e34444 5%, #f06565 100%);
    background:linear-gradient(to bottom, #e34444 5%, #f06565 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e34444', endColorstr='#f06565',GradientType=0);
    background-color:#e34444;
}

.edit-btn {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3b9446), color-stop(1, #2ea632));
    background:-moz-linear-gradient(top, #3b9446 5%, #2ea632 100%);
    background:-webkit-linear-gradient(top, #3b9446 5%, #2ea632 100%);
    background:-o-linear-gradient(top, #3b9446 5%, #2ea632 100%);
    background:-ms-linear-gradient(top, #3b9446 5%, #2ea632 100%);
    background:linear-gradient(to bottom, #3b9446 5%, #2ea632 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b9446', endColorstr='#2ea632',GradientType=0);
    background-color:#3b9446;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #308a36;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:13px;
    font-weight:bold;
    padding:6px 18px;
    text-decoration:none;
}
.edit-btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2ea632), color-stop(1, #3b9446));
    background:-moz-linear-gradient(top, #2ea632 5%, #3b9446 100%);
    background:-webkit-linear-gradient(top, #2ea632 5%, #3b9446 100%);
    background:-o-linear-gradient(top, #2ea632 5%, #3b9446 100%);
    background:-ms-linear-gradient(top, #2ea632 5%, #3b9446 100%);
    background:linear-gradient(to bottom, #2ea632 5%, #3b9446 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ea632', endColorstr='#3b9446',GradientType=0);
    background-color:#2ea632;
}

.add-btn {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c48b2a), color-stop(1, #d69128));
    background:-moz-linear-gradient(top, #c48b2a 5%, #d69128 100%);
    background:-webkit-linear-gradient(top, #c48b2a 5%, #d69128 100%);
    background:-o-linear-gradient(top, #c48b2a 5%, #d69128 100%);
    background:-ms-linear-gradient(top, #c48b2a 5%, #d69128 100%);
    background:linear-gradient(to bottom, #c48b2a 5%, #d69128 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c48b2a', endColorstr='#d69128',GradientType=0);
    background-color:#c48b2a;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #8a7430;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:13px;
    font-weight:bold;
    padding:6px 18px;
    text-decoration:none;
    position: absolute;
    bottom: 0;
    right: 60px;
    margin: 5px;
}
.add-btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d69128), color-stop(1, #c48b2a));
    background:-moz-linear-gradient(top, #d69128 5%, #c48b2a 100%);
    background:-webkit-linear-gradient(top, #d69128 5%, #c48b2a 100%);
    background:-o-linear-gradient(top, #d69128 5%, #c48b2a 100%);
    background:-ms-linear-gradient(top, #d69128 5%, #c48b2a 100%);
    background:linear-gradient(to bottom, #d69128 5%, #c48b2a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d69128', endColorstr='#c48b2a',GradientType=0);
    background-color:#d69128;
}

.clear-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
}