.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    height: 75px;
    border-bottom: 1px solid #c9c6c6;
    background-color: #e2dfdf;
    -webkit-box-shadow: -2px 10px 33px -8px rgba(0,0,0,0.3);
    -moz-box-shadow: -2px 10px 33px -8px rgba(0,0,0,0.3);
    box-shadow: -2px 10px 33px -8px rgba(0,0,0,0.3);
    font-weight: bold;
    color: #4b4b4b;
}

a:active {
    color: #4b4b4b;
}

.account{
    margin: 5px;
    padding: 3px;
    float: right;
}

.account-name{
    padding: 3px;
    font-weight: bold;
    font-size: 20px;
}

.account-giving{
    display: block;
    float: right;
    padding: 7px 3px 3px 3px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.account-exit{
    display: block;
    float: right;
    padding: 7px 3px 3px 3px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.content{
    display: flex;
    position: absolute;
    left: 0;
    top: 100px;
    margin: 0 auto;
    width: 100%;
}

.input-container{
    margin-left: 50px;
    padding: 20px;
    padding-bottom: 0;
}

.table-holder{
    margin-left: 50px;
    padding: 20px;
    padding-top: 20px;
}

.table-navigation{
    margin: 50px 50px 50px 0;
    padding: 20px;
}

.giving-cont{
    margin-top: 20px;
    padding: 20px;
    background-color: #87bfff;
}

.table-header{
    display: flex;
    color: #4b4b4b;
    font-weight: bold;
    border: 1px solid #c9c6c6;
    background-color: #e2dfdf;
}

.border-shadow{

}

.table-header-cell{
    padding: 10px;
    font-size: 20px;
}

.table-header-name{
    display: block;
    flex: 40%;

}

.table-header-type{
    flex: 30%;
    display: block;
}

.table-header-amount{
    flex: 15%;
    display: block;
}

.table-header-more{
    flex: 5%;
    display: block;
}

.table-content{

}

.table-row{
    display: flex;
    border-bottom: 1px solid rgba(199,199,199,1);
    border-right: 1px solid rgba(199,199,199,1);
    border-left: 1px solid rgba(199,199,199,1);
}

.table-cell{
    padding: 10px;
}

.table-cell-name{
    display: block;
    flex: 40%;
}

.table-cell-type{
    flex: 30%;
    display: block;
}

.table-cell-amount{
    flex: 15%;
    display: block;
}

.table-cell-more{
    flex: 5%;
    display: block;
}

.more-info-btn {
    color:#080073;
    font-size:30px;
    font-weight:bold;
    padding: 0;
    border: none;
    background: none;
}

.img-c{
    width: 30px;
    height: 30px;
    margin:auto;
    padding: 0;
    display:block;
}

.get-more{
    background-color: #87bfff;
    padding: 10px;
}

.get-more-title{
    padding: 10px;
    font-size: 20px;
    border: 1px solid #c9c6c6;
    background-color: #e2dfdf;
    color: #4b4b4b;
    font-weight: bold;
}

.get-more-cont{
    padding: 10px;
    border: 1px solid rgba(199,199,199,1);
    border-top: none;
    font-size: 15px;
}

.input-field{
    width: 300px;
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.input-btn{
    background-color:#ffffff;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid lightgrey;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-size:12px;
    padding:5px 10px;
    text-decoration:none;
}

.giving-title{
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #c9c6c6;
    background-color: #e2dfdf;
    color: #4b4b4b;
    font-weight: bold;
}

#giving-cont{
    padding: 10px;
    font-size: 15px;
}

.giving-holder{
    padding: 5px;
    border: 1px solid rgba(199,199,199,1);
    border-top: none;
}

#giving-btn{
    float: right;
}

.link{
    color: white;
}

.link:hover{
    color: white;
}

#issue-data{
    visibility: hidden;
}